html, body {
  padding: 0px;
  margin: 0px;
}

.editor {
  width: 100vw;
  height: 70vh;
}

.run {
  width: 100vw;
  margin: 0px;
  padding: 0px;
  border: 1px solid red;
}

.result {
  background-color: gray;
  width: 100vw;
  height: 30vh;
}